.new-mail {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 240px;
}

.new-mail .header {
    padding: 4px;
    background-color: #404040;
    color:rgb(241, 241, 241);
}

.new-mail .send {
    height: 35px;
    width: 70px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
}

.new-mail .footer {
    background-color: white;
}