.color-palette {
    display: flex;
    margin-bottom: 3px;


}

.color-palette>* {
    border: solid 0.5px black;
    margin-inline-end: 3px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}