.note-text .btn-remove-todo {
    border: none;
    cursor: pointer;
    border-radius: 2em;
    background-color: inherit;


}

.note-text .btn-remove-todo:hover {
    background-color: lightgray;

}

.note-text .btn-remove-todo .img-remove-todo {
    background-color: inherit;
    width: 18px;

}