.note-index {
    /* display: grid; */
    /* flex-direction: column; */

    background-color: #fff;
    color: #202124;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 15px;

}

.note-index .add-note {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto;
    width: 60%;
    padding: 10px;
    box-shadow: 0px 1px 4px 0px;
    border-radius: 8px;
    /* cursor: pointer; */
}

.note-index .add-note input {
    min-width: 60%;
    border: none;
    letter-spacing: .01428571em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25rem;


}

.note-index .add-note input:focus {
    /* min-width: 60%; */
    outline: none;


}

.note-index .add-note .btn-actions button {

    border: transparent;
    border-radius: 50%;
    opacity: 0.9;
    cursor: pointer;

}

.note-index .add-note .btn-actions img {
    width: 30px;
    padding: 5px;
}

/* .note-index .add-note .btn-actions .new-txt {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAgElEQVRIie2USw6AIAxEn8bLEQ+lZxXvoSs2CqWfGDa+pKvCDAOk8GNkBU7gclYGkmSQA+KlDsmgLPLy2j8HxFQsnb42zdRqDE/QPJmW4Qlqb2BKNTxB+A16BhKqL/zFFe1S0zIqanNo027yGHTFIwYqcfCNa/HOnySjiUn8p8oNUehWAoVn3B0AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    /* background-position: center top; */
/* background-attachment: fixed; */
/* background-position- */
/* position: absolute; */
/* background-position: center; */
/* width: 30px; */
/* height: 30px; */
/* padding: 5px; */
/* }  */

.note-index .add-note .btn-actions>*:hover {
    background-color: rgb(199, 191, 199);

}