@font-face {
    font-family: pushster;
    src: url(../fonts/Pushster-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-MediumItalic.ttf);
}